body {
    font-family: 'Jua', sans-serif;
    background-color: #ffffff;
}

.file-upload {
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    padding: 20% 0;
    background-color: #f6f7fa;
    margin-bottom: 50px;

}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1px #35465d;
    background-color: #ffffff;
    width: 55%;
    margin: 0 auto;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d;
    border: dashed 1px #35465d;

}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 600;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}



.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    padding: 10px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 40px;
    border: solid 1.5px #35465d;
    background-color: #35465d;
    font-size: 2rem;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {

    line-height: 1.68;
    text-align: left;
    color: #35465d;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 80px;
    margin-bottom: 50px;
}

.title {

    line-height: 1.67;
    text-align: center;
    color: #35465d;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {

    line-height: 1.53;
    text-align: center;
    color: #35465d;
}

@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }

    .navbar-brand {
        font-size: 2rem;
    }
}

.youtube-link {

    line-height: 1.71;
    text-align: center;
    color: #f73737;
    font-size: 1.5rem;
    text-decoration: underline;
}

.youtube-link:hover {
    color: #f73737;
}

.upload {
    width: 20%;
}

.image-upload-wrap>.drag-text>.upload_text {
    padding: 0;
    width: 50%;
    margin: 0 auto;

    line-height: 1.53;
    text-align: center;
    color: #35465d;
    font-weight: 500;
    font-size: 1.5rem;
}

.loader_off {
    display: none;
}

.img_box {
    display: flex;
    justify-content: space-around;
}

.char {
    max-height: 300px;
    max-width: 300px;
}

.file-upload-image {
    max-width: 500px;
    max-height: 300px;
}

.thumbnali {
    width: 3.5rem;
    height: 3.5rem;
}

.char_box_loading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #CACACA;
    border-radius: 40px;
    padding: 10px;
    width: 97%;
    margin: 0 auto;
}

.char_description {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    line-height: 2;
    margin: 0;
}

.char_description>li {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.char_description>li>span {
    width: 90px;
}

.star {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 4px;
}

#label-container {
    margin-top: 10px;
    width: 100%;
}

#label-container>h2 {
    margin: 0;
    display: inline-block;
    background-color: #FFF7E4;
    padding: 4px 6px;
}

.important_char {
    color: red;
}

@media(max-width:600px) {
    .char {
        max-height: 180px;
        max-width: 140px;
    }

    .file-upload-image {
        max-width: 240px;
        max-height: 180px;
    }

    .char_description {
        font-size: 15px;
    }

    .star {
        width: 17px;
        height: 17px;
    }

    .char_description>li>span {
        width: 70px;
    }
}